<TMPL_INCLUDE NAME="head.tmpl">
<TMPL_INCLUDE NAME="nav.tmpl">
<td>

<table border='0' cellspacing='10'>

<tr><td>
<a href="http://bip.weizmann.ac.il/course/prog" target="_aux"> Perl for Bioinformatics and Internet</a><br>
Weizmann Institute of Science.<br>
This course provides a step by step, theoretical and practical introduction to the development of useful tools for automation of complex computer jobs, and making these tools accessible on the network from a Web browser. Examples will be given on sequence analysis, database management.
</td></tr>

<tr><td>
<a href="http://bip.weizmann.ac.il/course/prog2/" target="_aux"> Object-Oriented and Database Programming</a><br> 
Weizmann Institute of Science.<br>
</td></tr>

<tr><td>
<a href="http://bip.weizmann.ac.il/adp/" target="_aux"> BioPerl and other fundamental Perl modules</a><br> 
Weizmann Institute of Science.<br>
This unit provides you the knowledge to use BioPerl and other fundamental Perl modules in your scripts.
</td></tr>

</table>

</td>
<TMPL_INCLUDE NAME="footer.tmpl">