[%  DEFAULT
    title="Rehovot Perl Mongers"
 %]

<html>
<head>
<title>[% title %]</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<!-- SmartMenus 6 config and script core files -->
<script type="text/javascript" src="/sm/c_config.js"></script>
<script type="text/javascript" src="/sm/c_smartmenus.js"></script>
<!-- SmartMenus 6 config and script core files -->
</head>

<body>
<center>
<div style="font: bold 4em verdana,arial,sans-serif;">
<b>Rehovot.pm</b></font></div><br>
</center>

<table>
<tr>
