<TMPL_INCLUDE NAME="head.tmpl">
<TMPL_INCLUDE NAME="nav.tmpl">
<td>

<table border='0' width='700px'>

<tr><td>Welcome to the Rehovot Perl Mongers group, also known as <i>Rehovot.pm</i>.
Anyone is welcome to join: you don't even have to live in Rehovot! There are no fees
nor obligations. If you wish to learn Perl, discuss Perl problems or share your Perl knowledge,
this is your place.
</td></tr>

<tr><td><br></td></tr>

<tr><td><b>Mailing List:</b><br>
We welcome you to join our mailing list at 
<a href="http://mail.pm.org/mailman/listinfo/rehovot-pm">Rehovot-pm</a>
or by sending and email to 
<a href="mailto:rehovot-pm-request@mail.pm.org">rehovot-pm-request@mail.pm.org</a> 
with the word <i>subscribe</i> in the subject.
</td></tr>

</table>

</td>
<TMPL_INCLUDE NAME="footer.tmpl">