[%  INCLUDE head.tmpl
   title ="Rehovot Perl Mongers"
   description = "The Rehovot Perl user group holds monthly meetings with presentations related to the Perl programming language."
 %]
[%  INCLUDE nav.tmpl
 %]
<td>

<table border='0' width='700px'>

<tr><td>Welcome to the Rehovot Perl Mongers group, also known as <i>Rehovot.pm</i>.
Anyone is welcome to join: you don't even have to live in Rehovot! There are no fees
nor obligations. If you wish to learn Perl, discuss Perl problems or share your Perl knowledge,
this is your place.
</td></tr>

<tr><td><br></td></tr>

<tr><td><center><img src="/img/2009_12_22_1.jpg" border="0" alt="Meeting of the Rehovot Perl Mongers" /></center>
</td></tr>

<tr><td>
   <center><h2>Next <a href="/meetings.html">meeting</a>: 2010 January 19</h2></center>
</td></tr>


<tr><td><br></td></tr>


<tr><td><b>Mailing List:</b><br>
We welcome you to join our mailing list at 
<a href="http://mail.pm.org/mailman/listinfo/rehovot-pm">Rehovot-pm</a>
or by sending and email to 
<a href="mailto:rehovot-pm-request@mail.pm.org">rehovot-pm-request@mail.pm.org</a> 
with the word <i>subscribe</i> in the subject.
</td></tr>

<tr><td><br></td></tr>

<tr><td><b>This website:</b><br>
The leader of the Rehovot Perl Mongers is Dr Jaime Prilusky  @weizmann.ac.il. The website is maintained by him
and by <a href="http://szabgab.com/">Gabor Szabo</a>. The source of the website can be found on <a href="http://github.com/szabgab/Rehovot.pm/">Github</a>.
</td></tr>


</table>

</td>
[%  INCLUDE footer.tmpl %]
