[%  INCLUDE head.tmpl
  title="Monthly meetings of the Rehovot Perl Mongers"
 %]
[%  INCLUDE nav.tmpl
 %]
<td>

<table border='0' width='700px'>


<tr><td><b>Meetings:</b><br>
Our group meets on the third day of the third week of each month,
between 18:00 to 22:00. Unless scheduled otherwise. Talks start at 18:30.
</td></tr>
<tr><td><br></td></tr>

</tr><td><b>Location:</b><br>
We meet in Room 101 in the Levine Building (number 30 on this 
<a href="http://www.weizmann.ac.il/maps/campus3.gif" target="map1">map</a>
and this <a href="http://www.weizmann.ac.il/maps/all_campus.pdf" target="map2">map</a>)
                 The Weizmann Institute is a few minutes walk from the Rehovot
                 train station, shown in the maps.

</td></tr>

<tr><td><br></td></tr>

<tr><td><b>Upcoming meetings</b><br>
<!--
  Planned presentations:
  <ul>
     <li><a href="">Dov Grobgeld</a>: Desktop GUI development using Glib/Gtk2<br />
        See the <a href="http://gtk2-perl.sourceforge.net/doc/yapc-2004-perl-gtk2/slides.html">Gtk2 slides</a> of Dov
from YAPC::Israel::2004</li>
  </ul>
-->

<ul style="font-family:monaco,courier;">
<li><b>2010 May 11</b><br />
</li>
<li><b>2010 June 15</b><br />
</li>
<li><b>2010 July 13</b><br />
</li>
<li><b>2010 August 17</b><br />
</li>
<li><b>2010 September 21</b><br />
</li>
<li><b>2010 October 12</b><br />
</li>
<li><b>2010 November 16</b><br />
</li>
<li><b>2010 December 14</b><br />
</li>
</ul>
</td></tr>

<tr><td><br></td></tr>

<tr><td><b>Earlier Meetings:</b><br>
<ul style="font-family:monaco,courier;">

<li><b>2009 November 17</b><br />
  Presentations:
  <ul>
    <li><a href="http://www.linkedin.com/in/hadarleviaharoni">Hadar Levi Aharoni</a> and </li>
    <li><a href="http://www.linkedin.com/in/avishalom">Avishalom Shalit</a> both talked about
        <a href="http://www.mathworks.com/">Matlab</a> and a bit about <a href="http://pdl.perl.org/">PDL - the Perl Data Language</a> as a replacement for Matlab.
        <a href="/slides/Matlab_PM_HadarLevi.ppt">slides of Hadar Levi Aharoni</a></li>
    <li><a href="http://szabgab.com/">Gabor Szabo</a> about <a href="http://padre.perlide.org/">Padre, the Perl IDE</a></li>
  </ul>
  Meeting Reports:
  <ul>
    <li>by <a href="http://szabgab.com/blog/2009/12/1259695110.html">Gabor Szabo</a> in English</li>
    <li>by <a href="http://community.livejournal.com/shlomif_tech/37451.html">Shlomi Fish</a> in Hebrew</li>
  </ul>
  Announements:
  <ul>
    <li><a href="http://szabgab.com/blog/2009/11/1257443063.html">in English</a></li>
    <li><a href="http://www.whatsup.co.il/index.php?module=PostCalendar&type=user&func=view&viewtype=details&eid=460&Date=20091117">in Hebrew</a></li>
  </ul>
</li>

<li><b>2009 December 22</b><br />
  Presentations:
  <ul>
    <li><a href="http://www.linkedin.com/in/hadarleviaharoni">Hadar Levi Aharoni</a> 
        talked about <a href="http://pdl.perl.org/">PDL - the Perl Data Language</a> as a replacement for Matlab
        <a href="/slides/PDL_Indexing_PM.pdf">Slides of Hadar Levi Aharoni about PDL Indexing</a></li>
    <li><a href="http://szabgab.com/">Gabor Szabo</a> about creating a plugin for <a href="http://padre.perlide.org/">Padre, the Perl IDE</a></li>
  </ul>
  Announcements:
  <ul>
    <li><a href="http://szabgab.com/blog/2009/12/1260987335.html">in English</a></li>
    <li><a href="http://www.whatsup.co.il/modules.php?op=modload&name=News&file=article&sid=6546">in Hebrew</a></li>
  </ul>
</li>

<li><b>2010 January 19</b><br />
  Presentation:
  <ul>
    <li><a href="http://il.linkedin.com/pub/lary-ecker/0/972/826">Lary Ecker</a>: FPGA Board Integration (a perl program)<br />
    The program is a simple solution for managing the complexity of integration between the applications 
    of Altera or Xilinx and Mentor, overview synchronization between the FPGA and the Expedition environments, 
    creating and updating design-specific library parts, generating and updating schematics in VBDC and 
    modifying FPGA pins. Two novel ideas will be presented. First, a "high density symbol" allows the 
    user to view the numerous pin properties in tables rather than in graphical mode. This interface 
    is highly efficient and informative. It allows pin swapping without the limitation of symbol fracture. 
    Secondly, we describe a simple "netline-combing" algorithm for automatic FPGA trace optimization 
    (rearranging pins so that the geometrical intersections between traces are minimized). The algorithm 
    sorts the FPGA and its peripheral pin-lists by angle, and creates connections according to the angular order of the pins.
    <br />
    The presentation will include some background material on the way for creating electronic schematics 
    and printed circuit boards and using FPGAs (Field Programmable Gate Arrays) with a very high pin count.<br />
    (~ 30-50 min)
    </li>
    <li><a href="http://szabgab.com/">Gabor Szabo</a>: Installation of CPAN modules, packaging by downstram distributors
        (Linux, *BSD, etc.)<br />
        See the details under the meeting reports.
    </li>
  </ul>
  Announcements:
  <ul>
    <li><a href="http://mail.perl.org.il/pipermail/perl/2010-January/010802.html">Rehovot Perl Mongers - next meeting on 19 January 2010</a></li>
    <li><a href="http://mail.perl.org.il/pipermail/perl/2010-January/010807.html">Rehovot Perl Mongers - next meeting tomorrow</a></li>
  </ul>
  Meeting Reports:
  <ul>
    <li><a href="http://szabgab.com/blog/2010/01/1263972920.html">FPGA Board Integration - using Perl - Rehovot Perl Mongers</a></li>
    <li><a href="http://szabgab.com/blog/2010/01/1263996969.html">Working with upstream - installing Perl modules from CPAN</a></li>
  </ul>
</li>

<li><b>2010 February 16</b><br />
  Presentations:
  <ul>
    <li><a href="http://www.pg-consultants.com/">Peter Gordon</a>: Asynchronous IO with Perl including an introduction to non-blocking sockets and IO::Lambda<br />
      <ul>
        <li>Using a simple sockets</li>
        <li>Using a socket - non-blocking</li>
        <li>Using multiple non-blocking sockets simultaneously</li>
        <li>Possible solutions - event loops, threads, IO::Lambda</li>
        <li>Examples of using IO::Lambda</li>
        <li>(~ 60 min)</li>
		<li><a href="/slides/IO_Lambda.pdf">slides of IO::Lambda talk</a></li>
     </ul>
    </li>
  </ul>
  Announcements:
  <ul>
    <li><a href="http://szabgab.com/blog/2010/02/1266144839.html">Next Rehovot Perl Mongers meeting on 16 February about IO::Lambda</a></li>
    <li><a href="http://whatsup.org.il/modules.php?op=modload&name=News&file=article&sid=6582">in Hebrew</a></li>
  </ul>
  Meeting Reports:
  <ul>
    <li><a href="http://mail.perl.org.il/pipermail/perl/2010-February/010830.html">report on the IO::Lambda meeting</a> by Gabor Szabo</li>
  </ul>
</li>

<li><b>2010 March 16</b><br />
  <ul>
    <li>Yaron Meiry (aka <a href="http://blogs.perl.org/users/sawyer_x/">Sawyer</a>): 
        Moose - A postmodern metaclass-based object system for Perl 5 (~ 60 min)
      <ul>
        <li><a href="http://www.slideshare.net/xSawyer/moose-perl-5">Moose slides</a> from previous presentation</li>
      </ul>
    </li>
  </ul>
  Announcements:
  <ul>
   <li><a href="http://szabgab.com/blog/2010/03/1268084373.html">Rehovot and Haifa Perl Monger meetings (15, 16
March)</a></li>
   <li><a href="http://whatsup.org.il/modules.php?op=modload&name=News&file=article&sid=6593">in Hebrew on
Whatsup</a></li>
  </ul>
  Meeting Reports:
  <ul>
   <li><a href="http://blogs.perl.org/users/sawyer_x/2010/03/two-perl-mongers-meetings-three-talks-two-reviews.html">
Two Perl Mongers meetings, three talks, two reviews</a> by Yaron Meiry</li>
  </ul>
</li>

<li><b>2010 April 13</b><br />
  Presentations:
  <ul>
    <li>Tamir Lousky on the <a href="http://search.cpan.org/dist/SVG/">SVG Perl module</a> and how to 
        use Perl to produce really nice Scalable Vector Graphics (the opensource alternative to Flash / Illustrator graphics).
        <a href="/slides/SVG_PM.odp">SVG using Perl slides of Tamir Lousky</a>
    </li>
  </ul>
  Announcement:
  <ul>
    <li><a href="http://szabgab.com/blog/2010/04/1270541429.html">Rehovot Perl Mongers, Scalable Vector Graphics and Perl</a></li>
  </ul>
 Meeting Reports:
 <ul>
    <li><a href="http://szabgab.com/blog/2010/04/1272389970.html">SVG and Perl</a></li>
 </ul>
</li>

</td></tr>
</table>

</td>
[%  INCLUDE footer.tmpl %]
