
<td>

<!--
<div class="clearFix" style="width:45em;background-image:url('/sm/osx_item_bg.gif');border:1px solid #E0E0E0;">
-->
<ul id="Menu1" class="MM">
  <li><a href="news.html" target='main'>News</a></li>
  <li><a href="courses.html" target='main'>Courses</a></li>
  <li><a href="resources.html" target='main'>Resources</a></li>
<!--
  <li><a href="about.html" target='main'>About</a></li>
-->
</ul>
</div>

</td>
