<html>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<table border='0' width='700px'>

<tr><td>Welcome to the Rehovot Perl Mongers group, also known as <i>Rehovot.pm</i>.
Anyone is welcome to join: you don't even have to live in Rehovot! There are no fees
nor obligations. If you wish to learn Perl, discuss Perl problems or share your Perl knowledge,
this is your place.
</td></tr>

<tr><td><br></td></tr>

<tr><td><b>Meetings:</b><br>
Our group meets on the third day of the third week of each month,
between 18:00 to 22:00.
Upcoming meetings will be on
<ul style="font-family:monaco,courier;">
<li>2009 Dec 22
<li>2010 Jan 19
<li>2010 Feb 16
<li>2010 Mar 16
<li>2010 Apr 13
</ul>
</td></tr>

</tr><td><b>Location:</b><br>
We meet in Room 101 in the Levine Building (number 30 on this 
<a href="http://www.weizmann.ac.il/maps/campus3.gif" target="map1">map</a>
and this <a href="http://www.weizmann.ac.il/maps/all_campus.pdf" target="map2">map</a>)
                 The Weizmann Institute is a few minutes walk from the Rehovot
                 train station, shown in the maps.

</td></tr>

<tr><td><br></td></tr>

<tr><td><b>Mailing List:</b><br>
We welcome you to join our mailing list at 
<a href="http://mail.pm.org/mailman/listinfo/rehovot-pm">Rehovot-pm</a>
or by sending and email to 
<a href="mailto:rehovot-pm-request@mail.pm.org">rehovot-pm-request@mail.pm.org</a> 
with the word <i>subscribe</i> in the subject.
</td></tr>

</table>
</html>