[%  INCLUDE head.tmpl
  title="Various resources offered by the Rehovot Perl User Group"
 %]
[%  INCLUDE nav.tmpl
 %]
<td>

<ul>
<li class="head">Local resources
  <ul>
    <li>A local CPAN mirror at <a href="http://biocourse.weizmann.ac.il/CPAN/">http://biocourse.weizmann.ac.il/CPAN/</a></li>
  </ul>
</li>
<li class="head">External resources
  <ul>
    <li><a href="http://blogs.perl.org/">Perl Blogs</a></li>
    <li><a href="http://ironman.enlightenedperl.org/">Planet Perl Iron Man</a></li>
    <li><a href="http://www.perlmonks.org/">The Perl Monastery</a></li>
    <li><a href="http://metacpan.org/">Meta CPAN</a></li>
    <li><a href="http://www.perl.org/">The Perl Directory</a></li>
    <li><a href="http://www.perl.com/">Perl.com</a></li>
    <li><a href="http://padre.perlide.org/" title="perl editor">Perl IDE</a></li><li class="head">News</li>
    <li><a href="http://perlbuzz.com/">Perl Buzz</a></li>
    <li><a href="http://perlnews.org/">Perl News</a></li>
    <li><a href="http://perlsphere.net/">Perlsphere Aggregated Perl news</a></li>
    <li><a href="http://perlweekly.com/">Perl Weekly news</a></li>
  </ul>
</li>
<li class="head">Tutorials
  <ul>
    <li><a href="http://perl-tutorial.org/">A Collection</a></li>
    <li><a href="http://learn.perl.org/tutorials/">Perl tutorials</a></li>
    <li><a href="http://onyxneon.com/books/modern_perl/">Modern Perl Book</a></li>
    <li><a href="http://perlmaven.com/perl-tutorial">Perl Maven Tutorial</a></li>
  </ul>
</li>
</ul>


</td>
[%  INCLUDE footer.tmpl %]
