[%  INCLUDE head.tmpl
  title="Various resources offered by the Rehovot Perl User Group"
 %]
[%  INCLUDE nav.tmpl
 %]
<td>


<table border='0'>

<tr><td valign='top'><b>Resources:</b></td></tr>
<tr><td>A local CPAN mirror at <a href="http://biocourse.weizmann.ac.il/CPAN/">http://biocourse.weizmann.ac.il/CPAN/</a></td></tr>
</table>
</td>
[%  INCLUDE footer.tmpl %]
